<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Forum.IO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

    <meta name="author" content="Wildin Mota">
    <meta name="description" content="Este es un mini foro abierto conectado con todos donde puedes compartir experiencias e interactuar con los demas">
    <meta name="keywords" content="Foro, abierto, chat, mini">

    <meta property="og:title" content="Forum.IO">
    <meta property="og:image" content="/images/f.io.png">
    <meta property="og:description" content="Este es un mini foro abierto conectado con todos donde puedes compartir experiencias e interactuar con mas personas">

    <meta property="twitter:title" content="Forum.IO">
    <meta property="twitter:image" content="/images/f.io.png">
    <meta property="twitter:description" content="Este es un mini foro abierto conectado con todos donde puedes compartir experiencias e interactuar con mas personas"> 
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://use.fontawesome.com/34bf03fc07.js"></script>
  	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <button class="btn btn-default navbar-btn " style="font-family: 'Righteous', cursive; font-size:1.5em;">FORUM.IO</button>
		     
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		      	<li><a href="#"><i class="fa fa-lg fa-phone" aria-hidden="true"></i>   Contactanos</a></li>
		        <li><a href="#"><i class="fa fa-lg fa-info" aria-hidden="true"></i>   FAQ</a></li>
		        <li><a href="#"><i class="fa fa-lg fa-user" aria-hidden="true"></i>   Acerca de</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	<div class="container">

		<div class="row">
			<div class="col-md-6"><img src="/images/f.io.png" style="height:auto; width:100%;" alt=""><br>
			<p class="text">Al entrar en nuestra divertida comunidad, conoceras personas de todo el mundo con la que te llevaras muy bien, vamos hazlo</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="form">
				<h2 style="color:#5D90FF;">Registrate ya en FORUM.IO</h2><hr>
					<form action="">
						<input type="text" class='form-control input-lg ' name='username' placeholder="Escribe tu nombre..." />
						<input type="email" class='form-control input-lg ' name="email" placeholder="Escribe tu email..." />
						<input type="password" class='form-control input-lg ' name="password" placeholder="Escribe tu contrasenia...">
						<input type="password" class='form-control input-lg ' name="confirm_password" placeholder="Confirma tu contrasenia..."/><br><br>
						<button class="btn btn-info btn-lg">Registrate</button>
					</form>
					<br>
					<p>Ya tienes una cuenta? <a href="">Inicia sesion</a></p>
				</div>
			</div>
		</div>
	</div>

  </body>
</html>
